# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
testing/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
